
.home-h2 {
  padding: 5%;
  margin: auto;
  text-align: center;;
}

.form-container {
  width: 50%;
}

.form-group {
  padding: 2% 0;
}

.show-container {
  width: 50%;
  padding: 3% 0;
}

.reviews-h1 {
  text-align: center;
  margin: auto;
  padding: 3%;
}

.review-card {
  margin: 2%;
 
}

/* .card-body {
  padding: 1%;
}

.toppings-p {
  margin: 1%;
} */

.reviews-card-group {
  padding:1%;
}

.high-rating {
  color: rgb(8, 169, 8);
}

.low-rating {
  color: rgb(219, 25, 25);
}

#best-steak-h2, #best-steak-h3 {
  margin: auto;
  text-align: center;
  padding: 4%;
  font-size: 4vw;
}
#best-steak-h3 {
  font-size: 3vw;
  margin: auto;
  padding: 2%;
  text-align: center;
}

button {
  margin: .5vw;
}